* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  html, body {
  overflow-x: hidden;
}

body{
  font-family: 'Inter', sans-serif;
}

@media (min-width: 768px){
  main{
    flex-direction: row;
  }
}

:root {
  --azul: #4F7CAC;
  --azul-oscuro: #201E50;
  --celeste: #91E5F6;
  --amarillo: #FFC700;
  --fucsia: #E75A7C;
  --radius: 8px;
}

